.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8203);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8203);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bee9ee;
}

.App .primaryBg {
  background-color: #bee9ee;
}

.App .highlightTextColor {
  color: #0093d5;
}

.App .highlightBg {
  background-color: #0093d5;
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bee9ee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c3ebf0;
}
.mui-btn--accent {
    background-color: #0093d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #069fda;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* App-wide text styles specified in React Studio */
.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 17.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 17.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 21.5px;
  font-weight: 400;
}
.App .headlineFont * {
  font-size: 21.5px;
}
.App .navBar {
  background-color: #bee9ee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
  margin-top: 14px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  margin-top: 14px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.App .layoutFlow {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  float: left;
}
.App .layoutFlow:after {
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.App .compContent {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .hasNestedComps .foreground {
  position: absolute;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* This component has a fixed-size layout */
  .CommentItem {
    min-height: 77px;
    width: 100%; /* This component was designed using a width of 284px */
  }
  .CommentItem > .background > .containerMinHeight {
    min-height: 77px;
  }


  .CommentItem .elUsername {
    position: relative;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .CommentItem .elUsername > * { 
    width: 100%;
  }
  


  .CommentItem .elLine {
    position: relative;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 3px;
    width: calc(100.0% - 3px);
  }
  .CommentItem .elLine > * { 
    width: 100%;
  height: 2px;
  }
  


  .CommentItem .elText {
    position: relative;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .CommentItem .elText > * { 
    width: 100%;
  }
  

/* This component has a fixed-size layout */
  .PostComment {
    min-height: 181px;
    width: 100%; /* This component was designed using a width of 234px */
  }
  .PostComment > .background > .containerMinHeight {
    min-height: 181px;
  }


.PostComment .elUsername input {
  color: rgba(0, 0, 0, 0.8203);
}

.PostComment .elUsername input::input-placeholder {
  color: rgba(0, 0, 0, 0.4102);
}

.PostComment .elUsername input::placeholder {
  color: rgba(0, 0, 0, 0.4102);
}

  .PostComment .elUsername {
    position: relative;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(100.0% - 9px);
  }
  .PostComment .elUsername > * { 
    width: 100%;
  height: 34px;
  }
  


.PostComment .elText input {
  color: rgba(0, 0, 0, 0.8203);
}

.PostComment .elText input::input-placeholder {
  color: rgba(0, 0, 0, 0.4102);
}

.PostComment .elText input::placeholder {
  color: rgba(0, 0, 0, 0.4102);
}

  .PostComment .elText {
    position: relative;
    margin-top: 16px;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(100.0% - 9px);
  }
  .PostComment .elText > * { 
    width: 100%;
  height: 34px;
  }
  

.PostComment .elPostButton button {
  border: 0.0px solid transparent;
}



  .PostComment .elPostButton {
    line-height: 34px;
    position: relative;
    margin-top: 22px;
    width: 100%;
  }
  .PostComment .elPostButton > * { 
  margin-left: auto;
  width: 145px;
  margin-right: 42px;
  height: 34px;
  }
  


/* Narrowest size for this element's responsive layout */
  .StartScreen > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
@media (min-width: 568px) {
  .StartScreen > .background > .elBackgroundShape {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .StartScreen > .background > .elBackgroundShape {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .StartScreen > .background > .elBackgroundShape {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elTextBlock {
    position: relative;
    margin-top: 28px;
    width: 277px;
    margin-left: 20px;
  }
  .StartScreen > .layoutFlow > .elTextBlock > * { 
  width: 277px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elTextBlock {
    position: relative;
    margin-top: 28px;
    width: 277px;
    margin-left: 20px;
  }
  .StartScreen > .layoutFlow > .elTextBlock > * { 
  width: 277px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elTextBlock {
    position: relative;
    margin-top: 28px;
    width: 275px;
    margin-left: 20px;
  }
  .StartScreen > .layoutFlow > .elTextBlock > * { 
  width: 275px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elTextBlock {
    position: relative;
    margin-top: 28px;
    width: 275px;
    margin-left: 20px;
  }
  .StartScreen > .layoutFlow > .elTextBlock > * { 
  width: 275px;
  }
  
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elList {
    position: relative;
    margin-top: 41px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100.0% - 40px);
  }
  .StartScreen > .layoutFlow > .elList > * { 
    width: 100%;
  height: 154px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elList {
    position: relative;
    margin-top: 41px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100.0% - 40px);
  }
  .StartScreen > .layoutFlow > .elList > * { 
    width: 100%;
  height: 154px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elList {
    position: relative;
    margin-top: 41px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100.0% - 40px);
  }
  .StartScreen > .layoutFlow > .elList > * { 
    width: 100%;
  height: 154px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elList {
    position: relative;
    margin-top: 41px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100.0% - 40px);
  }
  .StartScreen > .layoutFlow > .elList > * { 
    width: 100%;
  height: 154px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elPostComment {
    position: relative;
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 22px;
    width: calc(100.0% - 42px);
  }
  .StartScreen > .layoutFlow > .elPostComment > * { 
    width: 100%;
  height: 158px;
  }
  
  .StartScreen > .layoutFlow > .elPostComment > .background > .containerMinHeight {
    min-height: 159px;
  }

@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elPostComment {
    position: relative;
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 22px;
    width: calc(100.0% - 42px);
  }
  .StartScreen > .layoutFlow > .elPostComment > * { 
    width: 100%;
  height: 158px;
  }
  
  .StartScreen > .layoutFlow > .elPostComment > .background > .containerMinHeight {
    min-height: 159px;
  }

}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elPostComment {
    position: relative;
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 22px;
    width: calc(100.0% - 42px);
  }
  .StartScreen > .layoutFlow > .elPostComment > * { 
    width: 100%;
  height: 158px;
  }
  
  .StartScreen > .layoutFlow > .elPostComment > .background > .containerMinHeight {
    min-height: 159px;
  }

}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elPostComment {
    position: relative;
    margin-top: 32px;
    margin-left: 20px;
    margin-right: 22px;
    width: calc(100.0% - 42px);
  }
  .StartScreen > .layoutFlow > .elPostComment > * { 
    width: 100%;
  height: 158px;
  }
  
  .StartScreen > .layoutFlow > .elPostComment > .background > .containerMinHeight {
    min-height: 159px;
  }

}

